$theme-colors: (
    "primary": #1E40AF,
    "secondary": #10B981,
    "success": #22C55E,
    "info": #3B82F6,
    "warning": #FACC15,
    "danger": #EF4444,
    "light": #F3F4F6,
    "dark": #111827
);

$font-family-sans-serif: "Inter", system-ui, sans-serif;
$body-bg: #f9fafb;
$body-color: #1f2937;